html, body{
    font-family: verdana;
    margin: auto;
    max-height: 1000px;
    overflow-y: hidden;
    height: 100%;
}
section{
    width: 100%;
    margin: auto;
}
aside{
    background: rgb(240, 164, 0);
    width: 30%;
    float: left;
    height: 700px;
}
nav{
    background: rgb(185, 167, 0);
    width: 70%;
    float: right;
    height: 80px;
}
main{
    background: rgb(235, 235, 235);
    width: 70%;
    float: right;
    height: 520px;
}
footer{
    background: rgb(0, 0, 0);
    width: 70%;
    float: right;
    height: 70px;
    color: #fff;
}