body{
    background: rgb(155, 24, 24);
}
section{
    width: 100%;
    margin: auto;
}
header{
    background: #000;
    background: linear-gradient(rgb(34, 34, 34), rgb(116, 116, 116));
    height: auto;
    color: white;
    font-size: 3em;
    width: 100%;
}
main{
    background: rgb(185, 185, 185);
    background: linear-gradient(rgb(255, 255, 255), rgb(150, 149, 149),rgb(206, 206, 206));
    width: 74.6%;
    height: 1262;
    float: left;
    border-radius:4px;
    color: rgb(63, 63, 63); 
    
}
h2{
    text-align: center;
    font-family: 'Cinzel', serif;
}
aside{
    background: rgb(102, 102, 102);
    background: linear-gradient(to bottom right, rgb(131, 131, 131), rgb(255, 255, 255),rgb(112, 112, 112));
    width: 25.4%;
    height: 1262;
    float: right;
}
footer{
    background: #000;
    background: linear-gradient(rgb(212, 212, 212), rgb(39, 39, 39));
    width: 100%;
    color: rgb(223, 223, 223);
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    clear: both;
}
.tabela_1 td{
    text-align: center;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 20px;
}
.titulo{
    font-weight: 600;
    font-family: 'Cinzel', serif;
    margin-left: 40px;
    padding-top: 20px; 
}
.tabela td{
    border: 2px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    text-align: center;

}
.tabela_2 td{
    text-align: center;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 5px;
    
}
.tabela_2 p{
    font-size: 20px;
}

@media screen and (max-width:1126px){
    section,main, aside, table{
        width: 100%; 
        text-align: center;
    }
    .tabela_1,.tabela_2{
        width: 100%;
    }
    img{
        width: 60%;
        padding: 0;
        height: 200px;
    }
    
}
@media screen and (max-width:1248px){
    section,main, aside, table{
        width: 100%; 
        text-align: center;
        font-size: 20px;
    }
    .tabela_1,.tabela_2{
        width: 100%;
    }
    .tabela_2 td{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    img{
        width: 60%;
        height: 300px;
    }
}